@model IEnumerable<Cinema.Web.Models.BigliettoView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdProiezione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSpettatore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @item.Id
    </td>
    <td>
        @item.IdProiezione
    </td>
    <td>
        @item.IdSpettatore
    </td>
    <td>
        @item.Fila
    </td>
    <td>
        @item.NumeroPosto
    </td>
    <td>
        @item.Prezzo
    </td>
    
</tr>
}

</table>
